[submodule "wordpress"]
	path = wp-core
	url = git://github.com/WordPress/WordPress.git
    ignore = untracked
[submodule "buddypress"]
	path = wp-content/plugins/buddypress
	url = https://github.com/buddypress/BuddyPress.git
[submodule "wp-content/themes/myfossil/inc/bootstrap"]
	path = wp-content/themes/myfossil/inc/bootstrap
	url = https://github.com/twbs/bootstrap.git
