[submodule "src/wp-core"]
	path = src/wp-core
	url = git@github.com:myfossil/WordPress.git
    ignore = all
[submodule "src/wp-content/plugins/buddypress"]
	path = src/wp-content/plugins/buddypress
	url = git@github.com:myfossil/BuddyPress.git
    ignore = all
[submodule "src/wp-content/plugins/myfossil-specimen"]
	path = src/wp-content/plugins/myfossil-specimen
	url = git@github.com:myfossil/wp-plugin-specimen.git
    ignore = all
[submodule "src/wp-content/plugins/myfossil-logging"]
	path = src/wp-content/plugins/myfossil-logging
	url = git@github.com:myfossil/wp-plugin-logging.git
    ignore = all
[submodule "src/wp-content/themes/myfossil"]
	path = src/wp-content/themes/myfossil
	url = git@github.com:myfossil/wp-theme-myfossil.git
    ignore = all
[submodule "src/wp-content/plugins/bbpress"]
	path = src/wp-content/plugins/bbpress
	url = git@github.com:myfossil/bbpress.git
    ignore = all
