/**
 * General
 */
#subnav {
    // margin: $padding-base-vertical 0 $padding-base-vertical 0;
}

.item-list-tabs {
    margin: $padding-base-vertical 0 $padding-base-vertical 0;
}

.submit {
    margin-top: $padding-base-vertical;
}

dl.inline {
    display: inline;
    width: 100%;

    dd, dt {
        display: inline;
    }

    dt
    {
        font-family: $headings-font-family;
        font-weight: $headings-font-weight;
        line-height: $headings-line-height;
        text-transform: uppercase;
        font-size: 88%;
    }

    dd {
        margin-right: $padding-large-horizontal;
    }

    dt:after {
        content: ": ";
    }
}

.entry-title {
    border-bottom: 1px solid $gray-light;
}

.left-right-border {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.list-lines {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        padding: $padding-base-vertical;
        border-bottom: 1px solid #eee;
    }
}

.side-header {
    color: $gray-light;
    border-bottom: 1px solid #ccc;
}


/**
 * Forms
 */
#whats-new-textarea, #whats-new-options {
    margin-top: $padding-base-vertical;
}

#whats-new-post-in-box {
    padding: 0;
}


/**
 * Activity
 */
#whats-new-form {
    margin-bottom: 0;
    padding-bottom: 0;
}

.activity {
    .time-since {
        text-align: right;
    }
}

.avatar {
    @include border-radius( $border-radius-base );
}

.avatar-25, .avatar-30 {
    @include border-radius( 30px );
}

.avatar-50 {
    @include border-radius( 50px );
}

.avatar-100 {
    @include border-radius( 100px );
}

.avatar-,
.avatar-150
{
    @include border-radius( 150px );
}


/**
 * Comments
 */
.acomment {
    margin: 10px 0 10px 0;

    .acomment-avatar {
        padding-right: $padding-base-horizontal;
    }

    .acomment-content {
        font-size: 24px;

        p {
            padding: 10px 0 0 0;
        }
    }

    .acomment-meta {

        color: $color-gray-light;
              
        a { 
            color: inherit; 
        }

        a:hover {
            font-weight: bold;
            border: 0;
            text-decoration: none;
        }
    }

    .acomment-options {
        font-size: 0.6em;
        font-weight: none;

        .delete {
            @extend .pull-right;
        }
    }
}

.panel-footer {
    a {
        text-decoration: none;

        span.badge {
            background-color: $color-brown;
        }
    }
}

.ac-textarea {
    padding-bottom: $padding-base-vertical;

    .comment-reply-form {
        margin-top: $padding-base-vertical;
    }
}


/**
 * Groups and Members
 * ~~~~~~~~~~~~~~~~~~
 */
#groups-header, #members-header {
    #join {
        width: 100%;
        margin-top: 30px;
    }

    div.activity {
        font-style: italic;
        color: $gray;
        width: 100%;
        text-align: center;
        padding: $padding-base-horizontal;
    }
}

ul#member-list, ul#group-list {
    li {
        display: inline;
    }
}

li#group_members-order-select {
    display: none;
}

/**
 * Extended Profile
 */
.current-visibility-level {
    font-weight: bold;
}

.field-visibility-settings {
    display: none;
}

.field-visibility-options {
    position: absolute;
    bottom: 0;
    left: 0;
}

