.hover-hand {
    cursor: pointer;
}

.editable {
    cursor: pointer;

    &:after {
        font-family: Ionicons;
        content: "\f12c";
        color: lighten( $color-gray-light, 10% );
        margin-left: 1em;
        font-weight: lighter;
    }

}

.fossil-property {
    font-weight: lighter;
    color: $color-secondary-dark;
    text-transform: uppercase;
    font-family: $font-family-sans-serif;
}

span.unknown {
    color: $gray-light;
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: $font-family-sans-serif;
    text-align: center;
    width: 100%;
}

p.author {
    color: $gray;

    a {
        color: $gray;
    }

}
