.user-container, .updates-container, .externals-container {
  height: 100%;
}


.list-lines {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        padding: 10px;
        border-bottom: 1px solid #eee;
    }
}
