/**
 * Activity Search Button.
 *
 */

.activity-search-dropdown {

  .btn {
    width: 100%;
    
    :hover {
      color:#fff;
  
    }

  }

  a {
       text-decoration:none !important;
    }

  #menu1 {
    width:100%;

    li {
      padding: 8px 3px;
    }
  }
}

.btn-search{

   width:100%;
   margin-top:10px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 5px;

}

.form-inline, #bbp-search-form{

  .btn-search{

    width:auto !important;
    margin-top: 0px;

  }

  
}



.input-sm{

  height:44px !important;
}


