/**
 * Activity Search Button.
 *
 */

.activity-search-dropdown {

  .btn {
    width: 100%;
    
    :hover {
      color:#fff;
  
    }

  }

  a {
       text-decoration:none !important;
    }

  #menu1 {
    width:100%;

    li {
      padding: 8px 3px;
    }
  }
}
