/**
 * General
 */
dl.inline {
    display: inline;
    width: 100%;

    dd, dt {
        display: inline;
    }

    dd {
        margin-right: 50px;
    }

    dt:after {
        content: ": ";
    }
}

.entry-title {
    border-bottom: 1px solid $gray-light;
}

.left-right-border {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.list-lines {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        padding: 10px;
        border-bottom: 1px solid #eee;
    }
}


/**
 * Forms
 */
#whats-new-textarea, #whats-new-options {
    margin-top: 10px;
}

#whats-new-post-in-box {
    padding: 0;
}


/**
 * Activity
 */
.activity {
    .time-since {
        text-align: right;
    }
}

.avatar {
    @include border-radius(500px);
}


/**
 * Comments
 */
.acomment {
    border-left: 1px solid $panel-inner-border;
    padding: 10px 0 10px 10px;

    .acomment-avatar {
        padding-right: 15px;
    }

    .acomment-meta {
        color: $gray-light;

        a {
            color: inherit;
            border-bottom: 1px dashed $gray-light;
        }

        a:hover {
            font-weight: bold;
            border: 0;
            text-decoration: none;
        }
    }
}

.ac-textarea {
    padding-bottom: 10px;

    .comment-reply-form {
        margin-top: 10px;
    }
}


/**
 * Groups
 * ~~~~~~
 */
#groups-header {
    #join {
        width: 100%;
        margin-top: 30px;
    }

    div.activity {
        font-style: italic;
        color: $gray;
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}
