/**
 * Navigation, header.
 *
 * Primary menu located at the top of every page.
 */

/**
 * General
 * ~~~~~~~
 */
.navbar
{
	border-bottom: 1px solid $color-gray-light;
	font-family: $font-family-sans-serif;
	color: $color-gray-medium;
	font-size: 16px;
}

.navbar a
{
	text-decoration: none;
}


a.navbar-brand
{
	display: inline-block;
	width: 230px;

	background-image : url("#{$path-images}/nav/myfossil-logo.png"); 
	background-repeat: no-repeat;
	background-position: center center;

	text-indent: -1000px;
}

.navbar-nav#nav-main li a
{
	text-transform: uppercase;
	font-weight: 600;
	color: $color-gray-medium;

	&.selected,
	&.active,
	&:hover
	{
		color: $color-black;

		span
		{
			border-bottom: 2px solid $color-brown-light;
		}
	}
}

.logout-mobile{
	
	  
 
  display: none !important;
 
}

  @media (max-width: 992px) {

  		.logout-mobile{

  			display:block !important;
  		}
  }

 


/**
 * Logged-in View
 * ~~~~~~~~~~~~~~
 */
.navbar-nav#nav-loggedin
{
	a#dropdown-menu-user
	{
		padding-top: 20px;
		padding-bottom: 18px;
	}

	a#notifications
	{
        padding: 32px 20px 0 40px;
		font-size: 22px;

        .unread {
            color: $white;
            position: absolute;
            top: 20px;
            right: 10px;

            span.badge {
                background-color: $color-brown-light;
                border-radius: 3px;
            }
        }
	}
}

/**
 * Avatars
 */
#item-header-avatar {
    text-align: center;
}
