/**
 * Navigation, secondary.
 */

.item-list-tabs
{
	margin: 0;
}

.nav-tabs
{
	// background-color: $color-background;
	// border-top: 1px solid $color-gray-lighter;

	li
	{
		//
	}

	li.active
	{
		//
	}

	li a
	{
		margin-right: 0;

		border-radius: 0;

		font-family: $headings-font-family;
        font-weight: $headings-font-weight;
        color: $color-gray-medium;
        text-transform: uppercase;
        text-decoration: none;

        &:hover
        {
        	border-color: transparent;
        }
	}
}

