/**
 * Navigation, secondary.
 */

.item-list-tabs
{
	margin: 0;
}

.nav-tabs
{
	// background-color: $color-background;
	// border-top: 1px solid $color-gray-lighter;

	li
	{
		//
	}

	li.active
	{
		//
	}

	li a
	{
		margin-right: 0;

		border-radius: 0;

		font-family: $headings-font-family;
        font-weight: $headings-font-weight;
        color: $color-gray-medium;
        text-transform: uppercase;
        text-decoration: none;

        &:hover
        {
        	border-color: transparent;
        }
	}
}

#buddypress-header
{
	background-color: #fcfcfc;
	border-bottom: 1px solid $color-gray-light;

	&,
	#item-header,
	#item-nav
	{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	#item-header
	{
		padding-top: $size-buddypress-header-padding;
		padding-bottom: $size-buddypress-header-padding;
	}

	#item-header-avatar
	{}

	 #item-header-avatar + #item-header-content
	 {}

	h1
	{
		border-bottom: none;
	}

	&.dark
	{
		border-top: 4px solid black;
		border-bottom: none;
		background-color: $black;

		color: darken( white, 50% );

		h1, h1 a,
		h2, h2 a
		{
			color: white;
			text-shadow: 0px 4px 2px black;
		}

		dd
		{
			color: white;
		}

		.nav-tabs li
		{
			// margin-bottom: 0;
			border-right: 1px solid $black;
		}

		.nav-tabs li a
		{
			background-color: darken( white, 70% );
			text-shadow: 0px -1px black;
		}

		.nav-tabs li.active
		{

		}
	}

	dd
	{
		padding-left: 0.25em;
		color: $black;
	}

	.item-list-tabs
	{
		margin: 0;
	}

	.nav-tabs
	{
		border-bottom: none;

		li
		{
			&.active
			{

				a,
				a:hover,
				a:focus
				{
					background-color: white !important;

					color: $black;
					text-shadow: none;
				}
			}

			a
			{
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 30px;
				padding-right: 30px;

		        &:hover
		        {
		        	// background-color: transparent;
		        }
			}
		}
	}
}
