$color__background-body: $white;
$color__background-screen: darken( $white, 5% );
$color__background-hr: lighten( $black, 25% );
$color__background-button: $brand-primary;
$color__background-pre: $white;
$color__background-ins: lighten( $black, 75% );

$color__text-screen: $text-color;
$color__text-input: $input-color-placeholder;
$color__text-input-focus: $input-color;
$color__link: $link-color;
$color__link-visited: darken( $link-color, 50% );
$color__link-hover: $link-hover-color;
$color__text-main: $text-color;

$color__border-button: $btn-default-color;
$color__border-button-hover: $btn-default-border;
$color__border-button-focus: $btn-default-border;
$color__border-input: $input-border;
$color__border-abbr: $input-color;
