/**
 * myFOSSIL, events
 */

$event-top-border-width: 3px;

$event-colors: (
    other: $color-gray-medium,
    meeting: $color-gray-medium,
    workshop: $color-gray-medium,
    lecture: $color-gray-medium
);

.event {
    @extend .row;

    background-color: #fff;
    padding: 20px;
    margin: 20px 0;

    @each $event-type, $event-type-color in $event-colors {
        &.event-#{$event-type} {
            border-top: $event-top-border-width solid $event-type-color;

            .event-icon {
                @extend .hidden-sm;
                @extend .col-md-1;

                color: $event-type-color;
                font-size: 4em;
                margin: 20px 0;
                text-align: center;
            }

            .event-body {
                @extend .col-sm-12;
                @extend .col-md-11;

                color: $gray;

                span {
                    margin: 0; 
                    padding: 0;
                    color: $event-type-color;
                    text-transform: uppercase;
                    font-family: $font-family-sans-serif;
                    font-weight: $headings-font-weight;
                }

                h5 {
                    border: none;
                    color: $black;
                    text-transform: capitalize;
                    padding: 0;
                    margin: 0 0 5px 0;
                    font-family: $font-family-sans-serif;
                    font-weight: $headings-font-weight;
                    font-size: 1.6em;
                }
            }
        }
    }

}
