/**
 * myFOSSIL, places
 */

$place-top-border-width: 3px;

$place-colors: (
    other: #333333,
    group: #2121b3,
    organization: #b32121,
    fossil-club: #00bfbf,
    city-park: #b3b321,
    state-park: #6ab321,
    national-park: #1e611e,
    museum: #216ab3,
    collecting-site: #b36a21,
    society: #6a21b3
);

.place {
    @extend .row;

    background-color: #fff;
    padding: 20px;
    margin: 20px 0;

    border-top: $place-top-border-width solid #333333;

    .place-icon {
        @extend .hidden-sm;
        @extend .col-md-1;

        color: #333333;
        font-size: 4em;
        margin: 20px 0;
        text-align: center;
    }

    .place-body {
        @extend .col-sm-12;
        @extend .col-md-11;

        color: $gray;

        span {
            margin: 0; 
            padding: 0;
            color: #333333;
            text-transform: uppercase;
            font-family: $font-family-sans-serif;
            font-weight: $headings-font-weight;
        }

        h5 {
            border: none;
            color: $black;
            text-transform: capitalize;
            padding: 0;
            margin: 0 0 5px 0;
            font-family: $font-family-sans-serif;
            font-weight: $headings-font-weight;
            font-size: 1.6em;
        }
    }

    @each $place-type, $place-type-color in $place-colors {
        &.place-#{$place-type} {
            border-top: $place-top-border-width solid $place-type-color;

            .place-icon {
                @extend .hidden-sm;
                @extend .col-md-1;

                color: $place-type-color;
                font-size: 4em;
                margin: 20px 0;
                text-align: center;
            }

            .place-body {
                @extend .col-sm-12;
                @extend .col-md-11;

                color: $gray;

                span {
                    margin: 0; 
                    padding: 0;
                    color: $place-type-color;
                    text-transform: uppercase;
                    font-family: $font-family-sans-serif;
                    font-weight: $headings-font-weight;
                }

                h5 {
                    border: none;
                    color: $black;
                    text-transform: capitalize;
                    padding: 0;
                    margin: 0 0 5px 0;
                    font-family: $font-family-sans-serif;
                    font-weight: $headings-font-weight;
                    font-size: 1.6em;
                }
            }
        }
    }

}
