

.documents-container{

	margin-top:20px;
	margin-bottom:20px;
	border-top: 1px solid #cccccc !important;
	padding-top:0px !important;

	.entry-title{

		padding-top:15px;
		padding-bottom:5px;
		
		border-bottom: 1px solid #cccccc !important;
	}

	.entry-content, .entry-summary{

		  background-color: #f7f7f7;
 			
 			margin-bottom: 20px;
	}

	.entry-content{

		padding:10px;
	}

	.entry-summary{

		  margin-bottom: 5px !important;
  		  margin-top: 10px;


		p{
			margin: 0;
		}
	}

	h3{

		padding-bottom:10px;
	}



.category{
	
	margin-top:25px;	

}

}

#main{
	
	.documents-container{

	article{

	  margin-bottom: 20px;
	  padding:10px;
	  background-color: #f7f7f7;

	  .entry-content{

	  	padding: 10px 0 0 0;
	  }
	}

	padding:30px !important;

		.page-title{

		border-bottom: 1px solid #cccccc !important;
		margin: 0 !important;
		padding-bottom: 10px;
		}

		h1.entry-title{

		  font-size: 27px;
		  
		}

		.page-header{

		margin: 0px !important;
		}
	}
}
